{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}|Django Proyecto UTD
    </title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" type="text/css">
</head>
<body>
    <header>
        <div id="logotipo">
            <img src="{% static 'img/logodjango.png' %}" alt="Imagen Django" title="Django">
            <h1>Django Proyecto Web</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'mainapp:inicio' %}">Inicio</a></li>
            {% if  user.email%}
                <li><a href="{% url 'mainapp:acercade' %}">Acerca de</a></li>
                <li><a href="{% url 'mainapp:mision' %}">Mision</a></li>
                <li><a href="{% url 'mainapp:vision' %}">Vision</a></li>
                <li><a href="{% url 'articulos:listado_articulos' %}">Listado de articulos</a></li>
                <li><a href="{% url 'articulos:listado_categorias' %}">Listado de categorias</a></li>
                <li><a href="{% url 'mainapp:logout' %}">Cerrar Sesión</a></li>
            {% else %}
                <li><a href="{% url 'mainapp:registro' %}">Registro</a></li>
                <li><a href="{% url 'mainapp:inicioSesion' %}">Inicio de sesion</a></li>
            {% endif %}
        </ul>
    </nav>
    <section id="content">
       <div class="box">
            {% block content %}{% endblock %}
       </div>
    </section>
    <footer>
        <p>Django con Dagonline &copy; 2024 | Visitado el: 01/10/24</p>
    </footer>
</body>
</html>
