@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', monospace;
    background-image: url('images/fondo.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input{
    font-family: 'Silkscreen', monospace;
}


input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4b7bec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Silkscreen', monospace;
}

button:hover {
    background-color: #3867d6;
}

hr {
    margin: 20px 0;
}

#resultado {
    text-align: center;
    font-size: 18px;
    color: #333;
}
